/* @import url("https://cdn.bootcdn.net/ajax/libs/element-plus/1.0.2-beta.53/theme-chalk/index.css"); */

#app {
  margin: auto;
}

.el-header {
  border-bottom: 1px solid #dcdfe6;
  height: 30px;
}
.el-main {
  height: calc(100vh - 120px);
}

.el-footer {
  border-top: 1px solid #dcdfe6;
  height: 60px;
}
